<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>controller.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>controller.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UpdateProfile</display-name>
    <servlet-name>UpdateProfile</servlet-name>
    <servlet-class>controller.UpdateProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProfile</servlet-name>
    <url-pattern>/UpdateProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddProject</display-name>
    <servlet-name>AddProject</servlet-name>
    <servlet-class>controller.AddProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProject</servlet-name>
    <url-pattern>/AddProject</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>displayProject</display-name>
    <servlet-name>displayProject</servlet-name>
    <servlet-class>controller.displayProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayProject</servlet-name>
    <url-pattern>/displayProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProjectDetails</display-name>
    <servlet-name>ProjectDetails</servlet-name>
    <servlet-class>controller.ProjectDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProjectDetails</servlet-name>
    <url-pattern>/ProjectDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllEmployee</display-name>
    <servlet-name>GetAllEmployee</servlet-name>
    <servlet-class>controller.GetAllEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllEmployee</servlet-name>
    <url-pattern>/GetAllEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignProject</display-name>
    <servlet-name>AssignProject</servlet-name>
    <servlet-class>controller.AssignProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignProject</servlet-name>
    <url-pattern>/AssignProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEmployeeProjects</display-name>
    <servlet-name>GetEmployeeProjects</servlet-name>
    <servlet-class>controller.GetEmployeeProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEmployeeProjects</servlet-name>
    <url-pattern>/GetEmployeeProjects</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayAllProject</display-name>
    <servlet-name>displayAllProject</servlet-name>
    <servlet-class>controller.displayAllProject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayAllProject</servlet-name>
    <url-pattern>/displayAllProject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserRegister</display-name>
    <servlet-name>UserRegister</servlet-name>
    <servlet-class>controller.UserRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegister</servlet-name>
    <url-pattern>/UserRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAddress</display-name>
    <servlet-name>UpdateAddress</servlet-name>
    <servlet-class>controller.UpdateAddress</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAddress</servlet-name>
    <url-pattern>/UpdateAddress</url-pattern>
  </servlet-mapping>
</web-app>